.heroHomeContainer {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr;
  grid-template-rows: 2.6fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: ". .";
}

.jobsCta {
  width: 40%;
  padding: 15px;
  border-radius: 30px;
  font-size: 20px;
  border: none;
}

.landingImage {
  object-fit: contain;
}

.heroImage {
  object-fit: cover;
  height: min-content;
}

.heroText,
.heroImage {
  display: flex;
  justify-content: center;
  padding: 0px 50px;
  padding: 1rem 3rem;
  align-items: center;
}

.heroText {
  margin: 0 auto;
  flex-direction: column;
  /*align-items: flex-start;*/
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 5rem;
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 2rem;
  text-align: center;
}

@media (max-width: 900px) {
  .heroHomeContainer {
    grid-template-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: ".";
    max-width: 100%;
  }

  .heroText {
    padding-top: 100px;
  }

  .title{
    font-size: 4rem;
  }

  .description {
    font-size: 1.5rem;
  }

  .heroText,
  .heroImage {
    width: 100%;
    height: 100%;
  }

  .heroImage img {
    padding: 0;
    object-fit: cover;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .landingImage {
    width: 100%;
  }

  .title {
    font-size: 3.5rem;
  }

  .jobsCta {
    width: 80%;

  }
}

@media (max-width: 600px) {
}
@media (prefers-color-scheme: light) {
  .jobsCta {
    background-color: #5783db;
  }
}