.jobUploadForm {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  background-color: #222;
  padding: 40px;
  border-radius: 10px;
  caret-color: white;
}

.jobUploadForm label {
  margin-bottom: 10px;
  font-size: 18px;
}

.jobUploadForm input {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 18px;
}

.submit {
  margin-top: 20px;
  padding: 10px;
  max-width: 50%;
  font-size: 18px;
  cursor: pointer;
}

@media (max-width: 900px) {
  .jobUploadForm {}
}

@media (max-width: 768px) {
  .jobUploadForm {
    width: 100vw;
    background-color: #121212;
    padding: 0;
  }

  .submit {
    max-width: 100%;
  }
}

@media (max-width: 600px) {
  .jobUploadForm {
    width: 100%;
  }
}


@media (prefers-color-scheme: dark) {
  .jobUploadForm {
    background-color: #121212;
  }
}

@media (prefers-color-scheme: light) {
  .jobUploadForm {
    background-color: #e9ecef;
  }
}