.navFlex {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  max-width: 90%;
}

.linkFlex {
  display: flex;
  text-align: right;
  font-size: 20px;
  font-weight: bold;
}

.logo {
  display: flex;
}

.logo h2 {
  margin-left: 5px;
}

@media (max-width: 900px) {
  .navFlex {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .navFlex {
    width: 100vw;
  }

  .linkFlex {
    justify-content: flex-end;
  }
}

@media (max-width: 600px) {
  .navFlex {
    width: 100%;
  }
}
