.navFlex {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  z-index: 100;
  text-align: right;
}

.logoText {
  cursor: pointer;
}

.linkFlex {
  display: flex;
  font-size: 25px;
  justify-content: space-around;
  align-items: center;
}

.linkFlex a:last-child {
  width: max-content;
}

.navItemsContainer {
  width: 50%;
  justify-self: flex-start;
}

.link {
  min-width: auto;
}

.link:hover {
  color: #3758f9;
  cursor: pointer;
}

.logoSvg svg {
  width: max-content;
}

.navButton {
  width: auto;
}

.logo {
  display: flex;
  flex-shrink: 2;
}

.logo a:last-child {
  width: max-content;
}

.logo h2 {
  margin-left: 5px;
  width: max-content;
}

@media (max-width: 900px) {
  .navFlex {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .navFlex {
    width: 93%;
  }
}

@media (prefers-color-scheme: dark) {
  .navBox {
    background-color: #222;
    box-shadow: 0 2px 1px -1px #3758f9;
  }
}

@media (prefers-color-scheme: light) {
  .navBox {
    background: #e9e9e9;
    box-shadow: 0 2px 1px -1px #3758f9;
  }
}