.jobDetailsContainer {
    background-color: #222;
    padding: 20px;
    border-radius: 7px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .jobDetailsContainer h3 {
    margin: 10px 0px;
    font-size: 25px;
  }
  
  .detailSectionHeading {
    font-size: 16px;
    font-weight: lighter;
    min-width: max-content;
  }
  
  .jobDetail{
    font-size: 25px;
    min-width: max-content;
  }
  
  .jobDetailsContainer p {
    margin: 10px 0px;
  }
  
  .jobDetails {
    display: flex;
  }

  @media (max-width: 600px) {
      .jobDetails {
        display: flex;
        flex-direction: column;
      }
    
      .jobDetailContainer {
        display: flex;
        align-items: center;
      }
    
      .jobDetail{
        font-size: 20px;
        text-align: right;
      }
    }

    
@media (prefers-color-scheme: light) {
    .jobDetailsContainer {
      background-color: #e9e9e9;
      color: #222;
      border: 0.25px solid #30363d67;
    }
  
    .detailSectionHeading {
      font-weight: normal;
    }
  }