.jobPostContainer {
  border-radius: 10px 10px 0px 0px;
  padding: 10px;
  height: max-content;
}

.moreDetails {
  display: flex;
  width: 100%;
}

.extraDeets {
  border-radius: 10px;
  margin-bottom: 15px;
  border: 2px solid #30363d67;
}

.detailPillContainer {
  display: flex;
}

.extraDeets:hover {
  box-shadow: 0px 0px 3px #3758f9;
}

.headingFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.jobTitle {
  margin: 0;
  width: max-content;
}

.companyName {
  text-align: start;
}

.posted {
  text-align: end;
}
.jobLocation {
  margin: 0;
  font-style: italic;
}

@media (max-width: 900px) {
  .jobPostContainer {
    width: 100%;
  }

  .moreDetails {
    width: 100%;
  }

  .jobDescription {
    margin: 5px 0px;
  }

  .titleLocation {
  }

  .jobTitle {
    width: max-content;
    font-size: 25px;
  }
}

@media (max-width: 600px) {
  .jobTitle {
    font-size: 20px;
    width: auto;
  }
}

@media (prefers-color-scheme: dark) {
  .jobPostContainer {
    color: #f0f6fc;
    background: #222;
  }

  .jobLocation {
    color: #c4bebe;
  }
}

@media (prefers-color-scheme: light) {
  .jobPostContainer {
    color: #222;
    background: #e9e9e9;
  }
}
