.title {
  margin: 0;
}

.description>pre {
  display: flex;
  width: 100%;
  white-space: break-spaces;
}

.backToJobs {
  color: hsl(205, 100%, 52%);
  font-weight: bold;
  text-align: right;
  font-size: 20px;
  cursor: pointer;
}

.location {
  margin: 0;
  font-style: italic;
}

.description {}

.companyName {
  margin-bottom: 0;
}

.nameAndButton {
  display: flex;
  align-items: baseline;
}

.nameAndButton a {
  text-align: right;
}

@media (max-width: 900px) {
  .container {
    width: 100vw;
  }

  .jobContent {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .container {
    width: 100vw;
  }

  .jobContent {
    width: 100%;
    display: inline-block;
  }
}