.jobs {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.jobContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  height: 100vh;
}

.title {
  text-align: left;
  width: 60%;
  font-size: 45px;
}

.paragraph {
  width: 60%;
  text-align: left;
  margin-top: 0;
  margin-bottom: 30px;
}


@media (max-width: 1400px) {
  .container {
    width: 100vw;
  }

  .jobContent {
    width: 90%;
  }

  .jobs {
    width: 80%;
  }

  .title {
    width: 80%
  }

  .paragraph {
    width: 80%;
  }
}

@media (max-width: 900px) {
  .container {
    width: 100vw;
  }

  .jobContent {
    width: 90%;
  }

  .jobs {
    width: 80%;
  }

  .title {
    width: 80%
  }

  .paragraph {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .container {
    width: 100vw;
  }

  .jobContent {
    width: 100%;
  }

  .jobs {
    width: 93%;
  }

  .title {
    width: 93%
  }

  .paragraph {
    width: 93%;
  }
}