.title {
  margin: 0;
}

.description > pre {
  display: flex;
  width: 100%;
  white-space: break-spaces;
}

.location {
  margin: 0;
  font-style: italic;
}

.description {
}

.companyName {
  margin-bottom: 0;
}

.nameAndButton {
  display: flex;
  align-items: baseline;
}

.nameAndButton a {
  text-align: right;
}

.container {
  padding: 0 2rem;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

@media (max-width: 900px) {
  .container {
    width: 100vw;
    padding: 0 2rem;
  }

  .jobContent {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .container {
    width: 100vw;
    padding: 0 2rem;
  }

  .jobContent {
    width: 100%;
    display: inline-block;
  }
}
