.button {
    max-width: 150px;
}

.button {
    padding: 15px;
    background-color: #3758f9;;
    border-radius: 10px;
    color: white
}

@media (max-width: 600px) {
    .button {
        max-width: 80px;
    }
}