.button {
    max-width: 150px;
}

.button {
    padding: 15px;
    background-color: #3758f9;
    border-radius: 7px;
    color: white;
    border: none;
}

@media (max-width: 600px) {
    .button {
        max-width: 100%;
    }
}